<?xml version="1.0"?>
<model>
  <name>WhyCode_3</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>User</name>
    <email>user@example.com</email>
  </author>
  <description>
    WhyCode Marker 3 - Fiducial marker for visual localization
  </description>
</model>
